:root {
	--color-one: #252a34;
	--color-two: #08d9d6;
	--color-three: #ff2e63;
	--color-four: #eaeaea;
	--color-five: #1c1d21;
}

.container-app {
	background-color: var(--color-one);
	max-width: 21.5rem;
	aspect-ratio: 20/9;
}

.container-cardlist {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	margin: 0 1rem;
	padding-top: 9.5rem;
}

.container-card {
	display: flex;
	flex-direction: column-reverse;
	width: 19rem;
	height: 12rem;
	box-shadow: 10px 8px 10px var(--color-five);
	border-radius: 15px 15px 0px 0px;
	background-color: var(--color-five);
	background-size: 19rem;
	border-radius: 15px 15px 0px 0px;
}

.container-infocard {
	display: flex;
	place-content: center;
	gap: 0.5rem;
	background-color: var(--color-five);
	opacity: 0.5;
}

.mojito {
	background-image: url('../../public//mojito.jpg');
}
.cubalibre {
	background-image: url('../../public//cubalibre.jpg');
}
.gintonic {
	background-image: url('../../public//gintonic.jpg');
}
.sexonthebeach {
	background-image: url('../../public//sexonthebeach.jpg');
}
.tequilasunrise {
	background-image: url('../../public//tequilasunrise.jpg');
}
.daiquiri {
	background-image: url('../../public//daiquiri.jpg');
}
.margarita {
	background-image: url('../../public//margarita.jpg');
}
.piñacolada {
	background-image: url('../../public//piñacolada.jpg');
}
.caipirinha {
	background-image: url('../../public//caipirinha.jpg');
}
.godfather {
	background-image: url('../../public//godfather.jpg');
}
.freshlemonade {
	background-image: url('../../public//freshlemonade.jpg');
}
.arnoldpalmer {
	background-image: url('../../public//arnoldpalmer.jpg');
}
.virginmojito {
	background-image: url('../../public//virginmojito.jpg');
}
.virginmary {
	background-image: url('../../public//virginmary.jpg');
}
.shirleytemple {
	background-image: url('../../public//shirleytemple.jpg');
}

.product-card {
	background-size: 450px;
	font-size: 1rem;
	padding: 2rem;
	color: var(--color-four);
	letter-spacing: 0.8rem;
	opacity: 0.7;
	height: 7rem;
}

.product-card:hover {
	opacity: 1;
}
