:root {
	--color-one: #252a34;
	--color-two: #08d9d6;
	--color-three: #ff2e63;
	--color-four: #eaeaea;
}

.container-app {
	background-color: var(--color-one);
	max-width: 1080px;
	aspect-ratio: 20/9;
}

.mojito {
	background-image: url('../../public//mojito.jpg');
	text-align: end;
}
.cubalibre {
	background-image: url('../../public//cubalibre.jpg');
	text-align: start;
}
.gintonic {
	background-image: url('../../public//gintonic.jpg');
	text-align: end;
}
.sexonthebeach {
	background-image: url('../../public//sexonthebeach.jpg');
	text-align: start;
}
.tequilasunrise {
	background-image: url('../../public//tequilasunrise.jpg');
	text-align: end;
}
.daiquiri {
	background-image: url('../../public//daiquiri.jpg');
	text-align: start;
}
.margarita {
	background-image: url('../../public//margarita.jpg');
	text-align: end;
}
.piñacolada {
	background-image: url('../../public//piñacolada.jpg');
	text-align: start;
}
.caipirinha {
	background-image: url('../../public//caipirinha.jpg');
	text-align: end;
}
.godfather {
	background-image: url('../../public//godfather.jpg');
}
.freshlemonade {
	background-image: url('../../public//freshlemonade.jpg');
}
.arnoldpalmer {
	background-image: url('../../public//arnoldpalmer.jpg');
}
.virginmojito {
	background-image: url('../../public//virginmojito.jpg');
}
.virginmary {
	background-image: url('../../public//virginmary.jpg');
}
.shirleytemple {
	background-image: url('../../public//shirleytemple.jpg');
}

.product-card {
	background-size: 1080px;
	font-size: 1rem;
	padding: 2rem;
	color: var(--color-four);
	letter-spacing: 1rem;
	opacity: 0.7;
}

.product-card:hover {
	opacity: 1;
}
