:root {
	--color-one: #252a34;
	--color-two: #08d9d6;
	--color-three: #ff2e63;
	--color-four: #eaeaea;
}

.header {
	display: flex;
	flex-direction: column;
	place-content: center;
	align-items: center;
	gap: 0.9rem;
	padding: 0.9rem 0;
}

.header h1 {
	margin: 0;
	font-size: 0.7rem;
	padding: 0;
	letter-spacing: 0.8rem;
	color: var(--color-four);
}

.logo {
	height: 5rem;
}
