.navbar {
	display: flex;
	place-content: end;
	align-items: center;
	flex-direction: column;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	gap: 1rem;
	font-size: 1.2rem;
	width: 19rem;
	padding: 1.5rem 1rem;
	bottom: 1.5rem;
	color: var(--color-four);
	background-color: var(--color-five);
	height: 2rem;
	border-radius: 3rem;
	-moz-transition: height 0.5s, border-radius 0.5s ease-out;
	-ms-transition: height 0.5s, border-radius 0.5s ease-out;
	-o-transition: height 0.5s, border-radius 0.5s ease-out;
	-webkit-transition: height 0.5s, border-radius 0.5s ease-out;
	transition: height 0.5s, border-radius 0.5s ease-out;
}

.navbar-expand {
	height: 20rem;
	border-radius: 1rem;
}

.carousel {
	display: flex;
	column-gap: 1rem;
	overflow-x: scroll;
	margin: 1rem 0;
}

.carousel::-webkit-scrollbar {
	display: none;
}

.carousel button:hover {
	cursor: pointer;
	background-color: var(--color-six);
}
.search-button {
	border-style: none;
	background-color: transparent;
	color: var(--color-four);
	font-size: 1.3rem;
	cursor: pointer;
}

.navbar-input-search {
	background-color: var(--color-one);
	color: var(--color-four);
	padding: 1rem;
	border-radius: 1rem;
	width: 90%;
	outline: none;
	border: none;
	font-size: 1.1rem;
	text-align: center;
	opacity: 1;
	visibility: visible;
	-moz-transition: visibility 0.2s, opacity 0.5s ease;
	-ms-transition: visibility 0.2s, opacity 0.5s ease;
	-o-transition: visibility 0.2s, opacity 0.5s ease;
	-webkit-transition: visibility 0.2s, opacity 0.5s ease;
	transition: visibility 0.2s, opacity 0.5s ease;
}

.hidden {
	opacity: 0;
	visibility: hidden;
}

.navbar-links {
	place-content: center;
	gap: 4rem;
	display: flex;
}

.navbar .fa-house,
.navbar .fa-heart {
	color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: var(--color-four);
}

.alcohol-filter button {
	color: var(--color-four);
	display: flex;
	min-width: 7rem;
	min-height: 7rem;
	font-size: 0.8rem;
	border-radius: 100%;
	border-style: none;
	text-align: center;
	place-content: center;
	align-items: center;
	letter-spacing: 0.2rem;
	background-color: var(--color-one);
	transition: box-shadow 0.2s;
}

.alcohol-selected {
	box-shadow: 0px -3px 0px var(--color-four) inset;
	transition: box-shadow 0.2s;
}

.fruit-filter button {
	display: flex;
	min-width: 3rem;
	min-height: 3rem;
	text-align: center;
	border-radius: 20%;
	letter-spacing: 0.2rem;
	margin: 0.5rem;
	align-items: end;
	border-style: none;
	background-color: var(--color-one);
	transition: box-shadow 0.2s;
}

.fruit-selected {
	box-shadow: 0px -2px 0px var(--color-four) inset;
	transition: box-shadow 0.2s;
}

.coconut-filter {
	background-image: url('../assets/icons/coconut.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.peach-filter {
	background-image: url('../assets/icons/peach.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.orange-filter {
	background-image: url('../assets/icons/orange.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.tomato-filter {
	background-image: url('../assets/icons/tomato.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.mint-filter {
	background-image: url('../assets/icons/mint.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.pineapple-filter {
	background-image: url('../assets/icons/pineapple.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.lemon-filter {
	background-image: url('../assets/icons/lemon.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.lime-filter {
	background-image: url('../assets/icons/lime.svg');
	background-size: contain;
	background-repeat: no-repeat;
}
