:root {
	--color-one: #252a34;
	--color-two: #08d9d6;
	--color-three: #ff2e63;
	--color-four: #eaeaea;
	--color-five: #1c1d21;
}

.navbar {
	display: flex;
	place-content: end;
	flex-direction: column;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	gap: 1rem;
	font-size: 1.2rem;
	width: 19rem;
	padding: 1.5rem 1rem;
	bottom: 1.5rem;
	color: var(--color-four);
	background-color: var(--color-five);
	height: 2rem;
	border-radius: 3rem;
	-moz-transition: height 0.5s, border-radius 0.5s ease-out;
	-ms-transition: height 0.5s, border-radius 0.5s ease-out;
	-o-transition: height 0.5s, border-radius 0.5s ease-out;
	-webkit-transition: height 0.5s, border-radius 0.5s ease-out;
	transition: height 0.5s, border-radius 0.5s ease-out;
}

.navbar-expand {
	height: 20rem;
	border-radius: 1rem;
}

.carousel {
	display: flex;
	column-gap: 1rem;
	overflow-x: scroll;
}

.carousel::-webkit-scrollbar {
	display: none;
}

.alcohol-filter {
}

.alcohol-filter small {
	display: flex;
	min-width: 7rem;
	min-height: 7rem;
	border-radius: 100%;
	text-align: center;
	place-content: center;
	align-items: center;
	letter-spacing: 0.1rem;
	background-color: var(--color-one);
}

.navbar-input-search {
	background-color: var(--color-one);
	color: var(--color-four);
	padding: 1rem;
	border-radius: 1rem;
	outline: none;
	border: none;
	font-size: 1.1rem;
	text-align: center;
	opacity: 1;
	visibility: visible;
	-moz-transition: visibility 0.2s, opacity 0.5s ease;
	-ms-transition: visibility 0.2s, opacity 0.5s ease;
	-o-transition: visibility 0.2s, opacity 0.5s ease;
	-webkit-transition: visibility 0.2s, opacity 0.5s ease;
	transition: visibility 0.2s, opacity 0.5s ease;
}

.hidden {
	opacity: 0;
	visibility: hidden;
}

.navbar-links {
	place-content: center;
	gap: 4rem;
	display: flex;
}

.navbar .fa-house,
.navbar .fa-heart {
	color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: var(--color-four);
}
